<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/login/signup" class="nav-link px-2 text-muted">Sing up</a></li>
        <li class="nav-item"><a href="/login" class="nav-link px-2 text-muted">Login</a></li>
        <li class="nav-item"><a href="/nav/faq" class="nav-link px-2 text-muted">FAQ</a></li>
        <li class="nav-item"><a href="/nav/history" class="nav-link px-2 text-muted">History</a></li>
        <li class="nav-item"><a href="/nav/profile" class="nav-link px-2 text-muted">My Profile</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2024 Tridify, Inc</p>
    </footer>
</div>