<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="primary">
    <div class="container-fluid">
        <img src="/images/logo.png" alt="" class="logoNav">
        <a class="navbar-brand" href="/">Tridify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/signup">Sign-Up</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/nav/faq"
                        role="button" aria-haspopup="true" aria-expanded="false">About us</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/nav/faq">Frequently Asked Questions</a>
                        <a class="dropdown-item" href="/nav/history">Our history</a>
                    </div>
                </li>
            </ul>


            <form class="d-flex" action="/nav/profile" method="post">
                <button class="btn btn-primary mx-2 my-2 my-sm-0" type="submit">My Profile</button>
            </form>
            <form class="d-flex" action="/nav/logout" method="post">
                <button class="btn btn-danger mx-2 my-2 my-sm-0" type="submit">Logout</button>
            </form>

            <form class="d-flex" action="/nav/search" method="post">
                <input name= "searchInput" id="searchInput" class="form-control me-sm-2" type="search" placeholder="Search some music!">
                <button id="buscarButton" class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>