<br>

<h1>Tridify History</h1>
<p>"A couple of months ago, Tridify was born out of people's need to showcase a musical profile that represents them and find their identity. With our platform, you'll be able to showcase to the world your diverse opinions and extensive knowledge about music and genres. Thanks to Tridify, you'll be able to meet people with similar tastes and discuss countless works. 
    
We invite you to register right now!"</p>