{{#if user}}
        <h1>Muchas gracias por registrarse, puede iniciar sesión</h1>
    {{/if}}
<h1>Login Page</h1>
<form action="/login/loginuser" method="post">
    <div class="mb-3">
        <label for="user" class="form-label">Username</label>
        <input id="user" name="user" type="text" class="form-control" placeholder="betoUser123" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password" class="form-control" required>
    </div>

    <div class="form-group">
        <input type="submit" class="btn mt-2 bg-primary w-50" id="sendAccount" value="Login"></input>
    </div>

</form>